body{
	width:100vw;
	height:100vh;
	margin:0 auto;
	font-family: 'Lora', serif;
	text-align: center;
	background:black;
	color:white;
	letter-spacing: .1px;
}
.window{
	width:98vw;
	height:98vh;
	display:inline-flex;
	flex-direction: column;
	justify-content: center;
	margin:none;
}

div.bubble{
	display:flex;
	flex-direction: column;
	justify-content: flex-start;
	width:700px;
	height:700px;
	margin:0 auto;
	background:linear-gradient(-45deg, rgb(248,187,214),rgb(248,187,214),rgb(120, 192, 235),rgb(120, 192, 235));
	background-size: 200% 200%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
	border-radius:350px;
}

.center{
	margin: 0 auto;
	text-align:center;
}

h1{
	padding-top:80px;
	letter-spacing: .5px;
	font-size:40px;
}

	

/*intro*/
.intro{
	display:block;
	margin:0 auto;
	text-align:center;
	width:60%;
	line-height: 1.5;
}

/*====form=====*/
form, form *, h1{
	align-content: center;
	text-align: center;
}

form *{
	margin-bottom:20px;
}

form{
	padding-top:20px;
}


input, textarea{
	background:transparent;
	color:white;
	border:1px solid white;
}

textarea, input{
	width:50%;
	min-height:50px;
	caret-color:white;
}

button{
	background:transparent;
	border: 1px solid white;
	height:20px;
	display:block;
	margin:0 auto;
	margin-bottom:20px;
	
}
button a{
	color:white;
	text-decoration: none;
	font-family: 'Lora', serif;
}



.confirmation{
	font-size:10px;
	margin-top:50px;
}

span{
	font-size:150px;
}
.js-success-message{
	display:block;
	margin-top:50px;
}

.is-hidden {
      display: none !important;
 }

/*gradient*/
@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
		
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}


@keyframes rotate {
     100% { transform: rotate(360deg); }
    }

    @keyframes dash {
     0% { stroke-dasharray: 1,200; stroke-dashoffset: 0; }
     50% { stroke-dasharray: 89,200; stroke-dashoffset: -35; }
     100% { stroke-dasharray: 89,200; stroke-dashoffset: -124; }
    }

    .loading {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .loading-spinner {
      width: 50px;
      height: 50px;
    }

    .loading-spinner svg {
      position: relative;
      animation: rotate 2s linear infinite;
      height: 50px;
      width: 50px;
    }

    .loading-spinner circle {
      stroke: var(--accent);
      stroke-dasharray: 1,200;
      stroke-dashoffset: 0;
      stroke-linecap: round;
      animation: dash 1.5s ease-in-out infinite;
    }




@media only screen and (max-width: 900px) {
	body{
		font-size:12px;
	}
	div.bubble{
		width:500px;
		height:500px;
		border-radius:250px; 
	}

	h1{
		padding-top:20px;
	}
	form{
		padding-top:10px;
	}
	form *{
		margin:8;
	}
	.explanation{
		margin:0;	
	}
	.confirmation{
		margin-top:0;
	}
}